@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  background-color: #f7f9ff;
  font-family: 'Public Sans', sans-serif;
}

.shadow-level-1 {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

.card-hover {
  transition: border-color 0.2s ease;
}

.card-hover:hover {
  border-color: #006193;
  outline: 1px solid #006193;
  outline-offset: -1px;
}
